In [30]:
import pandas as pd
import numpy as np
import os

In [31]:
data_dir = 'data'

df_1 = pd.read_csv(os.path.join(data_dir, "CSF_COG_PET_data.csv"))
df_2 = pd.read_csv(os.path.join(data_dir, "CSF_COG_PET_data_cleaned.csv"))

In [32]:
df_1.head()

,PTID,TAU_bl,PTAU_bl,ABETA_bl,EXAMDATE,EXAMDATE_bl,DX_bl,DX,AGE,PTGENDER,...,SUVr_Vermis_1_2.nii,SUVr_Vermis_3.nii,SUVr_Vermis_4_5.nii,SUVr_Vermis_6.nii,SUVr_Vermis_7.nii,SUVr_Vermis_8.nii,SUVr_Vermis_9.nii,SUVr_Vermis_10.nii,SUVr_VTA_L.nii,SUVr_VTA_R.nii
0,082_S_5282,170.7,15.63,558.9,2015-11-19,2013-09-09,SMC,CN,66.9,Male,...,0.003690,0.012155,0.032376,0.018102,0.008745,0.014004,0.009032,0.006589,0.000833,0.000720
1,100_S_5280,101.2,10.08,731.8,2015-09-29,2013-09-17,SMC,CN,67.5,Male,...,0.003369,0.011351,0.030880,0.018253,0.009289,0.011917,0.008881,0.006231,0.000712,0.000659
2,027_S_5277,324.8,34.39,780.3,2015-08-31,2013-08-28,SMC,CN,71.8,Female,...,0.003325,0.011246,0.029007,0.016903,0.009108,0.012666,0.008033,0.006029,0.000770,0.000699
3,135_S_5275,490.4,53.18,832.7,2014-02-25,2013-08-27,AD,Dementia,78.0,Female,...,0.003402,0.011694,0.033622,0.019224,0.010413,0.012902,0.007799,0.005730,0.000804,0.000760
4,135_S_5269,108.2,10.55,590.4,2015-09-01,2013-08-20,SMC,CN,64.9,Male,...,0.003367,0.011986,0.034076,0.019834,0.010011,0.012782,0.009789,0.006613,0.000748,0.000675

In [ ]:
dx_map = {
    'AD': 0,
    'Dementia': 0,
    'MCI': 1,
    'EMCI': 1,
    'LMCI': 1,
    'CN': 2,
    'SMC': 3
}
df_1['DX'] = df_1['DX'].map(dx_map)
df_1['DX_bl'] = df_1['DX_bl'].map(dx_map)

gender_map = {
    'Male': 0,
    'Female': 1
}
df_1['PTGENDER'] = df_1['PTGENDER'].map(gender_map)

race_map = {
    'White': 0,
    'Black': 1,
    'Asian': 2,
    'More than one': 3, # error here was on e not one
    'Am Indian/Alaskan': 4
}
df_1['PTRACCAT'] = df_1['PTRACCAT'].map(race_map)

df_1['ABETA_bl'] = df_1['ABETA_bl'].astype(str).str.extract(r'(\d+\.?\d*)').astype(float)
df_1['PTAU_bl'] = df_1['PTAU_bl'].astype(str).str.extract(r'(\d+\.?\d*)').astype(float)

df_1.fillna({'FHQMOMAD': 0, 'FHQDADAD': 0, 'FHQMOM': 0, 'FHQDADAD': 0}, inplace=True)

In [34]:
df_1.shape

(547, 191)

In [35]:
df_1.dropna(inplace=True)

df_1.shape

(543, 191)

In [36]:
df_2.shape

(543, 187)

In [37]:
df_1.head()

df_1.to_csv(os.path.join(data_dir, 'huw_whole_df.csv'))

In [29]:
df_2.head()

,TAU_bl,PTAU_bl,ABETA_bl,DX_bl,DX,AGE,PTGENDER,PTEDUCAT,MMSE_bl,EcogPtTotal_bl,...,SUVr_Vermis_1_2.nii,SUVr_Vermis_3.nii,SUVr_Vermis_4_5.nii,SUVr_Vermis_6.nii,SUVr_Vermis_7.nii,SUVr_Vermis_8.nii,SUVr_Vermis_9.nii,SUVr_Vermis_10.nii,SUVr_VTA_L.nii,SUVr_VTA_R.nii
0,101.2,10.08,731.8,3,2,67.5,0,16,30.0,1.43590,...,0.003369,0.011351,0.030880,0.018253,0.009289,0.011917,0.008881,0.006231,0.000712,0.000659
1,324.8,34.39,780.3,3,2,71.8,1,15,28.0,1.84211,...,0.003325,0.011246,0.029007,0.016903,0.009108,0.012666,0.008033,0.006029,0.000770,0.000699
2,490.4,53.18,832.7,0,0,78.0,1,12,24.0,1.35897,...,0.003402,0.011694,0.033622,0.019224,0.010413,0.012902,0.007799,0.005730,0.000804,0.000760
3,108.2,10.55,590.4,3,2,64.9,0,16,29.0,1.17949,...,0.003367,0.011986,0.034076,0.019834,0.010011,0.012782,0.009789,0.006613,0.000748,0.000675
4,247.1,24.78,466.1,3,2,75.1,1,18,30.0,1.64103,...,0.002935,0.009448,0.028740,0.017897,0.009361,0.012595,0.008533,0.005170,0.000675,0.000675